

 <div class="row">
  <div class="col-8 intro">
    <h1>Ay you! You like fun?</h1>
    <p>I do. This site's about stuff I find fun.
    </p>

  </div>
 </div>


 <div class="row">
  <div class="col-4">
    <h2 class="center">Board Games</h2>
    <a href="http://localhost:3000/things/board_games"><img class="welcome focus lgTile_radius" src="images/boardgame_vector.png" /></a>
    <p>Board games, card games, basically anything played on a tabletop.
    </p>
    
  </div>
  <div class="col-4">
    <h2 class="center">Video Games</h2>
    <a href="http://localhost:3000/things/video_games"><img class="welcome focus lgTile_radius" src="images/gameController.png" /></a>
    <p>Console, PC, Arcade... calculator
    </p>
  </div>
  <div class="col-4">
    <h2 class="center">Coding</h2>
    <a href="http://localhost:3000/things/coding"><img class="welcome focus lgTile_radius" src="images/coding_icon2.png" /></a>
    <p>Some of the coding projects I've worked on.
    </p>
  </div>
  <div class="col-4">
    <h2 class="center">Other</h2>
    <a href="http://localhost:3000/things/other"><img class="welcome focus lgTile_radius" src="images/misc_icon.png" /></a>
    <p>Some of the coding projects I've worked on.
    </p>
  </div>
 </div>

