
  <main>
    <h1>Search Results With Static Data</h1>  
    <h2>{{message}}</h2>
    <div>
      <form id="filter_form" class="pink" method="get" action="#" accept-charset="utf-8" max length="1000">
        
   
      
        <fieldset>
          <legend>Mechanisms</legend>
          <input  class="filters" type="checkbox" name="mechanism" value="Action Point Allowance" >Action Point Allowance<br>
          <input  class="filters" type="checkbox" name="mechanism" value="Area Control" >Area Control<br>
          <input  class="filters" type="checkbox" name="mechanism" value="Dice Rolling" >Dice Rolling<br>
          <input  class="filters" type="checkbox" name="mechanism" value="Hand Management" >Hand Management<br>
          <input  class="filters" type="checkbox" name="mechanism" value="Take That" >Take That<br>
          <input class="filters" type="checkbox" name="mechanism" value="Trading" >Trading<br>
          <input  class="filters" type="checkbox" name="mechanism" value="Variable Player Powers" >Variable Player Powers<br>

          
        </fieldset>  

        <fieldset>
          <legend>Categories</legend>
          <input  class="filters" type="checkbox" name="category" value="Abstract Strategy" >Abstract Strategy<br>
          <input  class="filters" type="checkbox" name="category" value="Bluffing" >Bluffing<br>
          <input  class="filters" type="checkbox" name="category" value="Card Game" >Card Game<br>
          <input  class="filters" type="checkbox" name="category" value="Deduction" >Deduction<br>
          <input class="filters" type="checkbox" name="category" value="Dice" >Dice<br>
          <input  class="filters" type="checkbox" name="category" value="Murder/Mystery" >Murder/Mystery<br>
          <input  class="filters" type="checkbox" name="category" value="Science Fiction" >Science Fiction<br>
          
          <input  class="filters" type="checkbox" name="category" value="Wargame" >Wargame<br>         
        </fieldset>

        <fieldset>
          <legend>Min Plyr</legend>
            <select name="minplyr" class="filters">
              <option></option>
              <option  value="1" >1</option>
              <option  value="2" >2</option>
              <option  value="3" >3</option>
              <option  value="4" >4</option>
              <option  value="5" >5</option>
              <option value="6" >6</option>
              <option  value="7" >7</option>
              <option  value="8" >8</option>          
              <option  value="9" >9</option>
              <option  value="10" >10</option>   
            </select>                 
        </fieldset>

        <fieldset>
          <legend>Max Plyr</legend>
            <select name="maxplyr" class="filters">
              <option></option>
              <option  value="1" >1</option>
              <option  value="2" >2</option>
              <option  value="3" >3</option>
              <option  value="4" >4</option>
              <option  value="5" >5</option>
              <option value="6" >6</option>
              <option  value="7" >7</option>
              <option  value="8" >8</option>          
              <option  value="9" >9</option>
              <option  value="10" >10</option>   
            </select>                 
        </fieldset>

        <fieldset>
          <legend>Weight</legend>
          <label>Min</label>
          <input  class="filters" type="number" name="minweight" min="1" max="5"><br>

          <label>Max</label>
          <input  class="filters" type="number" name="maxweight" min="1" max="5" ><br>       
        </fieldset>

        <fieldset>
          <legend>Time (min)</legend>
          <label>Min</label>
          <select name="mintime" class="filters">
            <option></option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="90">90</option>
            <option value="120">120</option>
            <option value="240">240</option>
          </select>
          <br>

          <label>Max</label>
          <select name="maxtime" class="filters">
            <option></option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="90">90</option>
            <option value="120">120</option>
            <option value="240">240</option>
          </select>  
        </fieldset>  



        <input type="reset" class="filters">

        
      </form>
    </div>       
      
    
      <div class="col-2-5" data-minplyr="1" data-maxplyr="10" data-mintime="15" data-maxtime="30" data-playercount="3,4,5" data-mintime="30" data-maxtime="90" data-categories="Dice" data-mechanics="Dice Rolling,Press Your Luck" data-minweight="2.0" data-maxweight="3.1"> 
       
        <div class="item_container" >
          <img class="lone_pic" src="https://cf.geekdo-images.com/original/img/eJUR9dGBvm4boczoYT49SYj4-Vg&#x3D;/0x0/pic3866533.png" />
          <div class='see_more'>
            <div>
              <h6>Mechanisms: Dice Rolling,Press Your Luck</h6>
              
            </div>

            <a href="https://boardgamegeek.com/boardgame/41" class=""> See more...</a>
            <form method="post" action="/item/" accept-charset="utf-8" max length="1000">
              <label class="form-block" >
              <input type="text" name="_id" value="5acd6b7a38cc919316efed2c" placeholder="5acd6b7a38cc919316efed2c" required hidden />
              <input type="text" name="status" placeholder="Status">
              <input type="number" name="rating" placeholder="Rating"/>
              
              <button>Rate</button>
            
            </form>
            


          </div>


        </div>                
      </div>
      
  

       
      
    
      <div class="col-2-5" data-minplyr="1" data-maxplyr="3" data-mintime="15" data-maxtime="90" data-playercount="5,6,7,8" data-categories="Science Fiction,Wargame" data-mechanics="Area Movement,Dice Rolling">
       
        <div class="item_container" >
          <img class="lone_pic" src="https://cf.geekdo-images.com/original/img/VzHd-4kiiopq5CwFIr_L3Tc3SM4&#x3D;/0x0/pic3884550.jpg" />
          <div class='see_more'>
            <div>
              <h6>Mechanisms: Area Movement,Dice Rolling</h6>
            </div>

            <a href="https://boardgamegeek.com/boardgame/99" class=""> See more...</a>
            <form method="post" action="/item/" accept-charset="utf-8" max length="1000">
              <label class="form-block" >
              <input type="text" name="_id" value="5acd6bf538cc919316efed5f" placeholder="5acd6bf538cc919316efed5f" required hidden />
              <input type="text" name="status" placeholder="Status">
              <input type="number" name="rating" placeholder="Rating"/>
              
              <button>Rate</button>
            
            </form>
            


          </div>


        </div>                
      </div>
      
  

       
      
    
      <div class="col-2-5" data-minplyr="3" data-maxplyr="8" data-mintime="30" data-maxtime="90" data-playercount="1,2,3,4,5" data-categories="Abstract Strategy" data-mechanics="Area Enclosure,Pattern Building,Pattern Recognition,Tile Placement">
       
        <div class="item_container">
          <img class="lone_pic" src="https://cf.geekdo-images.com/original/img/Gri8ET3BFLE6mzdQLyWZnjWv25s&#x3D;/0x0/pic181642.jpg" />
          <div class='see_more'>
            <div>
              <h6 >Mechanisms: Area Enclosure,Pattern Building,Pattern Recognition,Tile Placement</h6>
              <h6 data-categories="Abstract Strategy">Categories: Abstract Strategy</h6>
            </div>

            <a href="https://boardgamegeek.com/boardgame/7" class=""> See more...</a>
            <form method="post" action="/item/" accept-charset="utf-8" max length="1000">
              <label class="form-block" >
              <input type="text" name="_id" value="5acd6b3238cc919316efed0d" placeholder="5acd6b3238cc919316efed0d" required hidden />
              <input type="text" name="status" placeholder="Status">
              <input type="number" name="rating" placeholder="Rating"/>
              
              <button>Rate</button>
            
            </form>
            


          </div>


        </div>                
      </div>
      
  

       
      
    
      <div class="col-2-5" data-minplyr="1" data-maxplyr="10" data-mintime="30" data-maxtime="90" data-playercount="1,2,3,4,5" data-categories="Economic" data-mechanics="Auction/Bidding">
       
        <div class="item_container">
          <img class="lone_pic" src="https://cf.geekdo-images.com/original/img/WxaZnaBbkRaqUW17Dzg0xyOBMd4&#x3D;/0x0/pic573942.jpg" />
          <div class='see_more'>
            <div>
              <h6>Mechanisms: Auction/Bidding</h6>
              <h6 data-categories="Economic">Categories: Economic</h6>
            </div>

            <a href="https://boardgamegeek.com/boardgame/16" class=""> See more...</a>
            <form method="post" action="/item/" accept-charset="utf-8" max length="1000">
              <label class="form-block" >
              <input type="text" name="_id" value="5acd6b4638cc919316efed16" placeholder="5acd6b4638cc919316efed16" required hidden />
              <input type="text" name="status" placeholder="Status">
              <input type="number" name="rating" placeholder="Rating"/>
              
              <button>Rate</button>
            
            </form>
            


          </div>


        </div>                
      </div>
      
  

       
      
    
      <div class="col-2-5" data-minplyr="1" data-maxplyr="10" data-mintime="30" data-maxtime="90" data-playercount="1,2,3,4,5" data-categories="Exploration" data-mechanics="Area Control">
       
        <div class="item_container">
          <img class="lone_pic" src="https://cf.geekdo-images.com/original/img/p_RmeyXFl0-NdTUxAAX-U9fkIRY&#x3D;/0x0/pic1731731.jpg" />
          <div class='see_more'>
            <div>
              <h6>Mechanisms: Area Control / Area Influence,Tile Placement</h6>
              <h6 data-categories="Exploration">Categories: Exploration</h6>
            </div>

            <a href="https://boardgamegeek.com/boardgame/9" class=""> See more...</a>
            <form method="post" action="/item/" accept-charset="utf-8" max length="1000">
              <label class="form-block" >
              <input type="text" name="_id" value="5acd6b3638cc919316efed0f" placeholder="5acd6b3638cc919316efed0f" required hidden />
              <input type="text" name="status" placeholder="Status">
              <input type="number" name="rating" placeholder="Rating"/>
              
              <button>Rate</button>
            
            </form>
            


          </div>


        </div>                
      </div>
      
  

       
      
    
      <div class="col-2-5" data-minplyr="1" data-maxplyr="10" data-mintime="30" data-maxtime="90" data-playercount="1" data-categories="Abstract Strategy" data-mechanics="Area Movement">
       
        <div class="item_container">
          <img class="lone_pic" src="https://cf.geekdo-images.com/original/img/p9lTHxAyMQ3TiUcD0IXaRR7KfGk&#x3D;/0x0/pic3669882.jpg" />
          <div class='see_more'>
            <div>
              <h6>Mechanisms: Area Movement</h6>
              <h6 data-categories="Abstract Strategy">Categories: Abstract Strategy</h6>
            </div>

            <a href="https://boardgamegeek.com/boardgame/230898" class=""> See more...</a>
            <form method="post" action="/item/" accept-charset="utf-8" max length="1000">
              <label class="form-block" >
              <input type="text" name="_id" value="5aceddd7ad887e14545ca7b6" placeholder="5aceddd7ad887e14545ca7b6" required hidden />
              <input type="text" name="status" placeholder="Status">
              <input type="number" name="rating" placeholder="Rating"/>
              
              <button>Rate</button>
            
            </form>
             </div>


        </div>                
      </div>



      
    
      <div class="col-2-5" data-minplyr="1" data-maxplyr="10" data-mintime="30" data-maxtime="90" data-playercount="1,2" data-categories="Murder/Mystery,Science Fiction" data-mechanics="Action Point Allowance System,Hand Managament,Take That,Variable Player Powers">
       
        <div class="item_container">
          <img class="lone_pic" src="https://cf.geekdo-images.com/medium/img/VSif7-oqtkDRWQ099GCo4XBJzak=/fit-in/500x500/filters:no_upscale()/pic400196.jpg" />
          <div class='see_more'>
            <div>
              <h6>Mechanisms: Action Point Allowance System,Hand Managament,Take That,Variable Player Powers</h6>
              <h6 data-categories="Murder/Mystery,Science Fiction">Categories: Murder/Mystery,Science Fiction</h6>
            </div>

            <a href="https://boardgamegeek.com/boardgame/39339/" class=""> See more...</a>
            <form method="post" action="/item/" accept-charset="utf-8" max length="1000">
              <label class="form-block" >
              <input type="text" name="_id" value="5aceddd7ad887e14545ca7b6" placeholder="5aceddd7ad887e14545ca7b6" required hidden />
              <input type="text" name="status" placeholder="Status">
              <input type="number" name="rating" placeholder="Rating"/>
              
              <button>Rate</button>
            
            </form>
             </div>


        </div>                
      </div>



      <div class="col-2-5" data-minplyr="1" data-maxplyr="10" data-mintime="30" data-maxtime="90" data-playercount="1,2,3" data-categories="Bluffing,Card Game,Deduction,Murder/Mystery,Science Fiction" data-mechanics="Betting/Wagering,Dice Rolling,Set Collection,Storytelling,Variable Player Powers">
       
        <div class="item_container">
          <img class="lone_pic" src="https://cf.geekdo-images.com/itemrep/img/9fMTe97OTcD6uSOtXSRFfP6Lr0w=/fit-in/246x300/pic266628.jpg" />
          <div class='see_more'>
            <div>
              <h6>Mechanisms: Betting/Wagering,Dice Rolling,Set Collection,Storytelling,Variable Player Powers</h6>
              <h6 data-categories="Bluffing,Card Game,Deduction,Murder/Mystery,Science Fiction">Categories: Bluffing,Card Game,Deduction,Murder/Mystery,Science Fiction</h6>
            </div>

            <a href="https://boardgamegeek.com/boardgame/32495/murder-city" class=""> See more...</a>
            <form method="post" action="/item/" accept-charset="utf-8" max length="1000">
              <label class="form-block" >
              <input type="text" name="_id" value="5aceddd7ad887e14545ca7b6" placeholder="5aceddd7ad887e14545ca7b6" required hidden />
              <input type="text" name="status" placeholder="Status">
              <input type="number" name="rating" placeholder="Rating"/>
              
              <button>Rate</button>
            
            </form>
             </div>


        </div>                
      </div>
           

       
      
    
    
      
  


  </main>

