html,
body {
  background-attachment: fixed;
  background-image: url("../images/circ_gal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
body {
  // background-color: grey;
}
* {
  font-family: 'Exo 2', sans-serif;
  box-sizing: border-box;
}
#screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  opacity: 0.2;
  z-index: -1;
}
.circuit {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  opacity: 0.9;
  z-index: -10;
}
.nav {
  text-align: right;
  /*margin-right: 25px;*/
  margin-top: 0;
  background-color: rgba(123, 206, 229, 0.4);
  /*background-color: @hiColor;*/
  border-radius: 0 0 10px 0px;
  /*padding-bottom: 8px;*/
}
.nav > a > li {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 8px;
  font-size: 20px;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid white;
  margin-left: -5px;
  background-color: goldenrod;
}
.nav > a:last-child {
  margin-right: 40px;
  border-radius: 0 0 20px 0;
}
.nav > a > li:hover {
  background-color: gray;
  /*background-color: @whitee;*/
  border: 1px solid black;
}
.nav > a > li {
  text-decoration: none;
  color: #D8FFE8;
}
.home {
  max-width: 50px;
  /*max-height: 200px;*/
  border: 2px solid goldenrod;
  border-radius: 66%;
  float: left;
}
.home:hover {
  /*max-height: 200px;*/
  border: 2px solid black;
  border-radius: 66%;
  filter: hue-rotate(90deg);
}
p,
h1,
h2 {
  text-align: left;
  /*color: #D8FFE8;*/
  color: #FFF1D0;
}
.indent {
  text-indent: 50px;
}
h2 {
  background-color: rgba(123, 206, 229, 0.4);
  border-radius: 0px 10px 10px 0px;
}
.row {
  width: 100%;
  display: block;
  margin-top: 15px;
  text-align: center;
  /*margin-left: 2%;
  margin-right: 2%;*/
}
.col-4 {
  width: 24%;
  vertical-align: top;
  /*border: 2px solid pink;*/
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}
.col-6 {
  width: 49%;
  vertical-align: top;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}
.smallSideMargins {
  margin: 0 2% 0 2%;
}
img.sparks1 {
  width: 12px;
  height: 12px;
  margin: 0;
}
.lgTile_radius {
  border-radius: 30px;
}
#DEXTER {
  border: 20px solid red;
}
.center {
  text-align: center;
}
.HUGE {
  font-size: 60px;
}
img.welcome {
  max-width: 100%;
  max-height: 200px;
  border: 5px dotted goldenrod;
}
img.item_tile {
  max-width: 100%;
  max-height: 200px;
  border: 2px solid #086788;
  border-radius: 30px;
}
/*FOCUS*/
.focus {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.focus:hover {
  border: 20px solid #000;
  border-radius: 30%;
}
.copyright {
  color: white;
}
.left {
  margin-right: 20px;
}
.item_container {
  margin-top: -15px;
  width: 100%;
  height: 200px;
  position: relative;
}
.item_pic {
  max-height: 200px;
  display: inline-block;
}
img.lone_pic {
  border: 2px solid goldenrod;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  position: absolute;
  left: 0;
}
.see_more {
  border: 2px solid goldenrod;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  position: absolute;
  left: 0;
  opacity: 0;
  z-index: 20;
  background-color: rgba(100, 100, 100, 0.8);
  padding-top: 80px;
}
.see_more:hover {
  opacity: 1;
}
.see_more > a {
  color: #D8FFE8;
}
.item_description {
  display: inline-block;
  vertical-align: top;
  max-width: 66%;
  position: absolute;
  /*border: 2px solid blue;*/
  left: 210px;
  overflow: hidden;
}


.rightList {
  text-align: right;
  color: white;
}
