<div>
      <form id="filter_form" class="pink" method="get" action="#" accept-charset="utf-8" max length="1000">
        
   
      
        <fieldset>
          <legend>Mechanisms</legend>
          <input  class="filters" type="checkbox" name="mechanism" value="Action Point Allowance" >Action Point Allowance<br>
          <input  class="filters" type="checkbox" name="mechanism" value="Area Control" >Area Control<br>
          <input  class="filters" type="checkbox" name="mechanism" value="Dice Rolling" >Dice Rolling<br>
          <input  class="filters" type="checkbox" name="mechanism" value="Hand Management" >Hand Management<br>
          <input  class="filters" type="checkbox" name="mechanism" value="Take That" >Take That<br>
          <input class="filters" type="checkbox" name="mechanism" value="Trading" >Trading<br>
          <input  class="filters" type="checkbox" name="mechanism" value="Variable Player Powers" >Variable Player Powers<br>

          
        </fieldset>  

        <fieldset>
          <legend>Categories</legend>
          <input  class="filters" type="checkbox" name="category" value="Abstract Strategy" >Abstract Strategy<br>
          <input  class="filters" type="checkbox" name="category" value="Bluffing" >Bluffing<br>
          <input  class="filters" type="checkbox" name="category" value="Card Game" >Card Game<br>
          <input  class="filters" type="checkbox" name="category" value="Deduction" >Deduction<br>
          <input class="filters" type="checkbox" name="category" value="Dice" >Dice<br>
          <input  class="filters" type="checkbox" name="category" value="Murder/Mystery" >Murder/Mystery<br>
          <input  class="filters" type="checkbox" name="category" value="Science Fiction" >Science Fiction<br>
          
          <input  class="filters" type="checkbox" name="category" value="Wargame" >Wargame<br>         
        </fieldset>

        <fieldset>
          <legend>Min Plyr</legend>
            <select name="minplyr" class="filters">
              <option></option>
              <option  value="1" >1</option>
              <option  value="2" >2</option>
              <option  value="3" >3</option>
              <option  value="4" >4</option>
              <option  value="5" >5</option>
              <option value="6" >6</option>
              <option  value="7" >7</option>
              <option  value="8" >8</option>          
              <option  value="9" >9</option>
              <option  value="10" >10</option>   
            </select>                 
        </fieldset>

        <fieldset>
          <legend>Max Plyr</legend>
            <select name="maxplyr" class="filters">
              <option></option>
              <option  value="1" >1</option>
              <option  value="2" >2</option>
              <option  value="3" >3</option>
              <option  value="4" >4</option>
              <option  value="5" >5</option>
              <option value="6" >6</option>
              <option  value="7" >7</option>
              <option  value="8" >8</option>          
              <option  value="9" >9</option>
              <option  value="10" >10</option>   
            </select>                 
        </fieldset>

        <fieldset>
          <legend>Weight</legend>
          <label>Min</label>
          <input  class="filters" type="number" name="minweight" min="1" max="5"><br>

          <label>Max</label>
          <input  class="filters" type="number" name="maxweight" min="1" max="5" ><br>       
        </fieldset>

        <fieldset>
          <legend>Time (min)</legend>
          <label>Min</label>
          <select name="mintime" class="filters">
            <option></option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="90">90</option>
            <option value="120">120</option>
            <option value="240">240</option>
          </select>
          <br>

          <label>Max</label>
          <select name="maxtime" class="filters">
            <option></option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="90">90</option>
            <option value="120">120</option>
            <option value="240">240</option>
          </select>  
        </fieldset>  



        <input type="reset" class="filters">
    </div>
