<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js'></script>
<!-- <script type="text/javascript" src="../js/pulses.js"></script> -->

 <!-- Footer section -->
<section class="footer">
  <div class="container">
  <hr />
    <div class="row">
      <div class="col-12">
        <div class="copyright">
          <h4>© 2018 Dexter Golden. All Rights Reserved</h4>
          <h4>Express Site</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Footer section -->
<script type="text/javascript" src="/js/tail.js"></script>
</body>
</html>
