<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../css/style.css">

<script type="text/javascript" src="../js/pulses.js"></script>
</head>
<body>    

  <ul class="nav">
    <a href="http://localhost:3000/home"><img class="home" src="../images/home.png" /></a>
    {{#if isLoggedIn}}
    <a href="users/signout"><li>SIGN OUT</li></a>       
    {{/if}}
    {{^if isLoggedIn}}
    <a href="/users/signin"><li>SIGN IN</li></a>       
    {{/if}}
    <a href="#"><li>Board Games</li></a>        
    <a href="/games/json"><li>JSON</li></a>
    
    <a href="#"><li>Placeholder3</li></a>
    <a href="#"><li>Placeholder4</li></a>
  </ul> 
